body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
}

.container {
  height: 100vh;
  width: 100vw;
}

.container > div {
  text-align: center;
  overflow: auto;
}

.title {
  padding: 10px 0 8px 5px;
  border-bottom: 1px solid grey;
  box-shadow: 0px 0px 2px 0px;
  background: #f5f5f0;
  width: 50%;
  position: fixed;
  border-right: 1px solid black;
}

.firstEmploee {
  margin-top: 35px;
}


.employee {
  padding: 15px 10px 15px 10px;
  display: inline-block;
}

.employee > .photo, .employee > .name {
  display: inline-block;
}

.employee > .photo, .employee > .photo > img {
  display: block;
  padding-bottom: 5px;
  max-width: 100px;
  max-height: 100px;
}

#lastTitle {
      padding: 10px 0 8px 5px;
      border-bottom: 1px solid grey;
      box-shadow: 0px 0px 2px 0px;
      background: #f5f5f0;
      position: fixed;
      width: 100%;
      text-align: center;
  }

.lastEmploee {
  margin-top: 40px;
}

@media only screen and (min-width: 768px) {
  .container > :nth-child(-n+2) {
    width: calc(50% - 2px);
    height: 70%;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    overflow-x: hidden;
  }

  .container > :nth-child(2) {
    position: absolute;

  }

  .container > :nth-child(2) {
    clear: both;
    float: right;
  }

  .container > :last-child {
    bottom: 0;
    width: 100%;
    height: 30%;
    position: absolute;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }


}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  .container > div {
    width: 100%;
    height: 33.3%;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .container > :nth-child(1),
  .container > :nth-child(2) {
    border-bottom: 1px solid #000;

  }

  .title {
    position: absolute;
    width: 100%;
    text-align: center; 
  }

  .employee {
    margin-top: 16%;
  }
}